*{
    padding: 0;
    margin: 0;
}
.container-fluid.header{
    height: 90vh;
    background: url('../images/heact.jpg');
    fill-opacity: 0.6;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.child.fixed {
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fdfdfd;
    z-index: 10;
    /* transition: background-color 0.3s; */
    position: fixed;
}
.text-wrap.para,
.text-wrap.text,
.text-wrap.fs-4,
.text-wrap.fs-5 {
    font-family: 'Gelasio', serif;
    font-size: 20px;
}
.fs-4.text-center,
.fs-3.text-center {
    font-family: 'Oleo Script', cursive;
}
.card-text {
    color: #f70;
    font-size: 18px;
}
div.container-fluid{
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    height: 8vh;
}
div.container-fluid .list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
div.container-fluid > .list >.list-item, .list-items{
    list-style: none;
    font-size: 20px;
    margin-right: 20px;
}
div.container-fluid > .list >.list-item a{
    text-decoration: none;
    color: #fff;
}
div.container-fluid > .list >.list-item.active,
div.container-fluid > .list >.list-item:hover {
    background: #f70;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}
div.container-fluid > .list >#media {
    background: none;
    /* transition: background .5s ease-in-out; */
    border-radius: 5px;
}
.logo{
    height: 8vh;
    width: 8vw;
    font-size: 10px;
    color: #fcfcfc;
    margin: -10px 35px;
}
.logo .bg{
    width: 80%;
    height: 50%;
    font-size: 25px;
}
.logo .bg-danger{
    color: #fb0;  
}
.logo .bg-primary{
    color: #fdfdfd;
}
.logo > p{
    margin-left: -15px;
    margin-top: -4px;
}
.container-fluid > .icon{
    width: 50px;
    height: 6vh;
    background: #022;
    display: none;
}
.container-fluid > .icon .fas{
    font-size: 35px;
    margin: 5px 5px;
    color: #fefefe;
}
header div.container {
    color: #fdfdfd;
    width: 40vw;
    height: 30vh;
    transform: translate(15%, 50%);
    padding: 50px;
    font-size: 2px;
}
header div.container p{
    font-size: 1.3rem;
    margin: 0px 30px;
}
header div.container p > span{
    margin: 0px 50px;
}
header div.container button{
    width: 8vw;
    height: 6vh;
    border-radius: 15px;
    background: linear-gradient(to right, #f60, #fc0);
    border: none;
    margin: auto 140px;
}
header div.container button:hover{
    background: #e70;
    opacity: 0.6;
    transition: opacity .3s;
}
header div.container button a{
    text-decoration: none;
    color: #ffe;
    font-size: 1.2rem;
}
@media (max-width: 800px) {
    .container-fluid.header {
        width: 100%;
        height: 50vh;
    }
    header .container-fluid.child 
    {
        width: 100%;
        height: 8%;
        border: none;
    }
    /* header .container-fluid.child 
    {
        font-size: 15px;
    } */
    header .container-fluid.child > ul.list 
    {
        display: none;
    }
    header .container-fluid.child > ul.list .list-item > a{
        font-size: 15px;
    }
    header .container-fluid.child > ul.list.active 
    {
        display: block;
        margin: 42px;
        height: 20vh;
        background: #333333;
        width: 900px;
        border: 1px solid black;
        transition: display 2s ease-in-out;
    }
    header .container-fluid.child > div.icon 
    {
        display: block;
        margin: -10px 5px;
        cursor: pointer;
    }
    header .container {
        width: 100vw;
    }
    .container h1.fs-2 {
        font-size: 20px;
    }
    header div.container p{
        font-size: 18px;
        margin: 0px 7px;
    }
    header div.container p > span{
        transform: translate(15%);
    }
    .logo {
        height: 7vh;
        width: 100%;
    }
    .logo .bg {
        height: 25%;
    }
    div.container-fluid {
        height: 20vh;
    }
    div.container-fluid > ul.list >.list-item.media {
        display:none;
    }
    header div.container {
        width: 100%;
        transform: translate(0px, 30%);
    }
    header div.container button{
        width: 15vw;
        height: 5vh;
        margin: auto 100px;
    }
    header div.container button a{
        text-decoration: none;
        color: #ffe;
        font-size: 15px;
    }
}